.action-button {
	padding: 10px;
	background: #fff;
	border: #000 double 4px;
	margin: 10px;
	float: left;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.beach {
	/*background: url(images/beach.jpg) top left repeat;*/
	padding: 0;
	margin: 0;
	width: 100%;
}

.header-image {
	width: 100%;;
	margin: 0;
	padding: 0;
}

.home-image {
	width: 100%;
	height: 100%;
}

.auto-image {
	width: 97%;
}
